NEXTAUTH_SECRET=0SgMk0R+bNoK6bG6wS+fl1EyNIrWjbe20rES0AxJnUM=
MONGODB_URI=mongodb+srv://amritasinha_db_user:6kyVWezlhKQFWTC4@cluster0.fbl1khj.mongodb.net/
OPENAI_API_KEY=your_openai_api_key

# EmailJS Configuration (Instead of Resend)
EMAILJS_SERVICE_ID=service_lms1ssq
EMAILJS_TEMPLATE_ID=template_2h70lh9
EMAILJS_PUBLIC_KEY=N3tXnsGqW5HnDSrVy
EMAILJS_PRIVATE_KEY=gCfqa9dwY6p0wZgJHZJny
